@page "/DetallesAnimal/{id:int}"
@model midas.Pages.DetallesAnimalModel
@{
    ViewData["Title"] = "Detalles del Animal";
}

<style>
    .container-fluid {
        padding: 15px;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 75px);
    }

    .main-container {
        background-color: #F8E8B6;
        border: 20px solid #CDA373;
        border-radius: 10px;
        padding: 15px;
        box-sizing: border-box;
    }

    .flex-row {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 15px;
        background-color: transparent;
    }

    .full-width, .half-width {
        padding: 20px;
        box-sizing: border-box;
        flex: 1;
        position: relative;
        background-color: transparent;
        border-radius: 0;
    }

    .half-width {
        width: calc(50% - 15px);
        height: calc(44vh - 43px);
    }

    .full-width {
        width: calc(100% - 30px);
        height: calc(44vh - 53px);
    }

    .container-title {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        font-size: 60px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .container-image {
        width: fill;
        height: fill;
        background: white;
        position: absolute;
        top: 5%;
        left: 5%;
        background-image: url('@Model.Animal.Imagen');
        background-size: cover;
        background-position: center;
    }

    .inventory-title {
        text-align: left;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .back-button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-right: 10px;
    }

    .description-title {
        font-size: 30px;
        text-align: center;
    }

    .description-text {
        position: absolute;
        top: 70px;
        left: 10px;
        right: 10px;
        font-size: 20px;
        text-align: center;
    }
</style>

<div class="d-flex" style="height: 100vh; overflow: hidden;">
    <div class="d-flex flex-column flex-shrink-0 p-1 justify-content-center" style="width: 75px; background-color: #2B5628;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link text-white p-0 my-2" aria-current="page">
                    <img src="~/images/Estesi.png" alt="Dashboard" style="width: 48px; height: 48px; display: block; margin-left: auto; margin-right: auto;" />
                </a>
            </li>
            <li class="nav-item">
                <a href="/Pages/User" class="nav-link text-white p-0 my-2">
                    <img src="~/images/user.png" alt="Usuarios" style="width: 48px; height: 48px; display: block; margin-left: auto; margin-right: auto;" />
                </a>
            </li>
            <li class="nav-item">
                <a href="/Inventario" class="nav-link text-white p-0 my-2">
                    <img src="~/images/Notas.png" alt="Menú" style="width: 48px; height: 48px; display: block; margin-left: auto; margin-right: auto;" />
                </a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="inventory-title">
            <button class="back-button"><img src="~/images/flecha.png" alt="Back" style="width:40px; height:40px;"/></button>
            Inventario - @Model.Animal.Nombre
        </div>
        <div class="main-container">
            <div class="flex-row">
                <div class="half-width">
                    <div class="container-title">@Model.Animal.Nombre</div>
                    <div class="container-title" style="top: 40px; margin-top:20px">@Model.Animal.NombreCientifico</div>
                </div>
                <div class="half-width">
                    <div class="container-image"></div>
                </div>
            </div>
            <div class="flex-row">
                <div class="full-width">
                    <div class="description-title">Descripción</div>
                    <p class="description-text">@Model.Animal.Descripcion</p>
                </div>
            </div>
        </div>
    </div>
</div>